body {
    background-image: url(https://lh3.googleusercontent.com/proxy/k_WYL0Exp6pXECz2QKbNlNVttf1kd_-1H6RNMvLBfvSexrRVXaKM_I-Xs6Y5Mtmc9B2qHAdPVU9f_JcpnkxDaON0Z60OKxkUqVc);
    background-size: cover;
}

.form-label{
    color: white;
}