
    <app-navbar></app-navbar>
    <img src="{{ligas.image}}" class="img-fluid" style="width: 100%; right: 20%;">
    <div style="margin-top: -10%; z-index: 10px; width: 80%; margin-left: 10%;">
        <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#AgregarUnEquipo"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAVElEQVRIS2NkoDFgpLH5DMRa8B+HQwjqJ6gAavCoBQSjejSIwEGEKxgIhh++JIycTEctQA8pcOgMryDCl1pGMxrBvDQaRAMfRARdgEsBsXUy2RYAAL74FBm4UItBAAAAAElFTkSuQmCC"/> Equipos</button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#AgregarUnMarcadorModal"  style="margin-left: 2%;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAWUlEQVRIS2NkoDFgpLH5DERZ8P/////YHMLIyEhQP0EFIINHLSAYz6NBBA4iXMFAMPxwKIAlYXgyHbUAPaSGYRDhSy2jGY1gXhoNooEPIoIuwKOAqDqZEgsAA7JQGZHFfiIAAAAASUVORK5CYII="/> Marcadores</button>
        <button type="button" class="btn btn-secondary" (click)="imprimir()" style="margin-left: 2%;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAWUlEQVRIS2NkoDFgpLH5DERZ8P/////YHMLIyEhQP0EFIINHLSAYz6NBBA4iXMFAMPxwKIAlYXgyHbUAPaSGYRDhSy2jGY1gXhoNooEPIoIuwKOAqDqZEgsAA7JQGZHFfiIAAAAASUVORK5CYII="/> Imprimir</button>
        <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#EditarLiga"  style="margin-left: 2%;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAxUlEQVQ4T+2UYQ3CMBCFvykACTgABwwF4AALOAAJSGAOkIAEcIAEJJBHeklTjoVrsiwkXLI/7fr19fVdGwaoZgAmo0BnwN05TQssgc6b71N6AtbACrgW4AOwT3OXctNPUAG36eeHAw5Dc6CJKMEh6BRYJNIRmCeVGhLYbAhBc3vklS7Ds+gPjUdK3v62pztgAqhN9SnTauMbcLbo9LWpd3xlWOMCWwmoDZTjV0WhWpOD34C1UAOr4za5wm+UVr/fozzSVWqfS1c4FmhVqscAAAAASUVORK5CYII="/> Editar liga</button>
        <button type="button" class="btn btn-danger"  (click)="DeleteLiga()"  style="margin-left: 2%;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA+klEQVQ4T+WV7xHBQBDF3+tAB6iADiQdUIHRARWgAkpQAhWQDqQCStDBM5u5cGKSS0x8YT/evf3d7Z/bI75gLGNK6gHoBs5MSd6KmjeopBWAKQCD1rETgAXJcy5+gUraOWAdWFEzIbm3xQfU3XD5Cc35WBr6lg4feq2Rw9CZa5KrDOqKcgl4xACGADYVuoRklEMjAMcqKElKCul+CBqTtB4sNUm2P/IEwfDnAJ4NTSaSOgAGHmTripcvBaEvN/y/QhULZEWxnNoDKLMDyXHt5g+9T7c/I7lrE2qzNYuiLWgKIMoHtj+lbBZazpqYjbu9hew7lX4nTchF7R29QIgWGE4BxwAAAABJRU5ErkJggg=="/> Eliminar liga</button>
        <button type="button" class="btn btn-warning" style="width: 15%; margin-left:2%" (click)="VerTabla()"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlklEQVRIS+2V2w2AIAxFDxM4go7iCDqhruIGjqAbuIGmJiRASDBY+II/INxHuWkNhZcpjE9VghFYgOGnqwOYgV1wXAdy0f8Et883QAR7BLcSuIV5xbsOqhGEH2+Js85jDrKAnPJ6ghpBGBTZJ0ukldYWU7/WLabJOH4p0QV0ShmNtmvp36vCTDiBKTZwlMT7MFVnchEHD/CiNhnmcI3DAAAAAElFTkSuQmCC"/> Tabla de la liga</button>
        <button type="button" class="btn btn-success" style="width: 15%; margin-left:2%" (click)="VerGraficas()"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA8UlEQVRIS+2U3RHCIBCE9zqwA+1AS9AOLMHOtANLMB2oJdiBHeAsAwy5QABjHpwJb8mx+90PIJh5ycz+WADFDk9ukTHmBOCsSSJivScDaJKCNAGMMSubjcg71RMXvwPY+Hg1wIlvTnjQkCi+A/ACsHbJlFukxNQ9AASIij8B7AEcOZNiBQkxAVsPcRWxMmZuzX11nImIXLJDzmTG/V0E4ffAfHCa9I+UeZQZh+0hlPYyTx2A3jEdM/dit4cQrtCW3I0LgBpzBcke2xgWAzj9a03Zxfch2qBbREiXu1AtxuHCfSNq0fzkLRoDLoDiOP6/RR+742gZdiOx9wAAAABJRU5ErkJggg=="/> Graficas</button>
    </div>
    <h1 style="text-align: center; margin-top: 8%; font-size: 80px; text-transform:capitalize">{{ligas.name}}</h1>
    <br>
    <div class="container" *ngIf="vertabladato" id="content">
        <div class="row">
          <div class="col">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Partidos jugados</th>
                    <th scope="col">putos</th>
                    <th scope="col">Goles a favor</th>
                    <th scope="col">Goles en contra</th>
                    <th scope="col">Diferencia de goles</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams">
                        <th scope="col" ><img src="{{team.logo}}" style="width: 60px;"></th>
                        <th scope="col" style="text-transform:lowercase;">{{team.name}}</th>
                        <th scope="col">{{team.partidos}}</th>
                        <th scope="col">{{team.puntos}}</th>
                        <th scope="col">{{team.golesFavor}}</th>
                        <th scope="col">{{team.golesContra}}</th>
                        <th scope="col">{{team.golesDiferencia}}</th>
                        <th class="col"><button type="button" class="btn btn-success" (click)="undoloequipo(team._id)">Ver Más</button></th>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
    <div style="display: block;" *ngIf="VerGraficasdato">
      <canvas baseChart
        chartType="pie"
        [data]="chartData"
        [colors]="chartColors"
        [labels]="chartLabels"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [legend]="chartLegend">
      </canvas>
    </div>
    <hr>
    <h1 style="text-align: center;">Jornadas</h1>
    <body style="background-image: url({{ligas.image}});">
    <hr>
      <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card"*ngFor="let jornada of jornadas" style=" margin-left: 20%; margin-right: 20%;">
            <div class="card-header">
              Jornada {{jornada.jornada}}
            </div>
            <div class="card-body" style="display: flex;">
              <div class="equipo" style="width: 40%;">
                <label for="" style="margin-right: 5%;">{{jornada.nameEquipo1}}</label>
                <input clas="input" type="text" value={{jornada.goles1}} Disabled>
              </div>
              <div class="equipo" style="width: 40%;">
                <label for="" style="margin-right: 5%;">{{jornada.nameEquipo2}}</label>
                <input type="text" value={{jornada.goles2}} Disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>

<!-- Modal -->
<div class="modal fade" id="AgregarUnEquipo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar un equipo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABBUlEQVRIS9WV2xEBQRREjwjIgBBkQAZkgAgQASHIgBBkQAhCIAMZUEftVE2N1+za/XB/dmsf3dN97/S0aLhaDePzdwQ9YARcgL3u1KGgU4BOgWFk+QP7F4IxMAG8vqpKBK4wgLryT5VN0I9A9Ti3nghc3RYIIMG+Wy5i8t0TwRnopk0CaiNIgWpX8P8EV6DdZA+col3U6Np78G4a18Cqwqhmb7QwvjPAezPHeIjtrBwVgrn5TMd0F2+A+QdlWQqCPUdgCZwiwKDM5w6IixmUTVMbf0hAzXkBJU+VqVL7JM8+D/xpUfwYR4m89sXJe1tlzwOTVSu8apsqvmf2t49+eV9WQWmuOxCWLBlsYTbNAAAAAElFTkSuQmCC"/>
         Solo puedes agregar a 10 equipos para esta competición</p>
         <hr>
         <br>
         <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre del equipo</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="name" #name="ngModel" [(ngModel)]="TeamsModel.name">
              <div id="emailHelp" class="form-text"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABBUlEQVRIS9WV2xEBQRREjwjIgBBkQAZkgAgQASHIgBBkQAhCIAMZUEftVE2N1+za/XB/dmsf3dN97/S0aLhaDePzdwQ9YARcgL3u1KGgU4BOgWFk+QP7F4IxMAG8vqpKBK4wgLryT5VN0I9A9Ti3nghc3RYIIMG+Wy5i8t0TwRnopk0CaiNIgWpX8P8EV6DdZA+col3U6Np78G4a18Cqwqhmb7QwvjPAezPHeIjtrBwVgrn5TMd0F2+A+QdlWQqCPUdgCZwiwKDM5w6IixmUTVMbf0hAzXkBJU+VqVL7JM8+D/xpUfwYR4m89sXJe1tlzwOTVSu8apsqvmf2t49+eV9WQWmuOxCWLBlsYTbNAAAAAElFTkSuQmCC"/>
              No podras agregar equipos con el mismo nombre</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Pais del equipo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="country" #country="ngModel" [(ngModel)]="TeamsModel.country">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">logo del equipo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="logo" #logo="ngModel" [(ngModel)]="TeamsModel.logo">
                <div id="emailHelp" class="form-text"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABBUlEQVRIS9WV2xEBQRREjwjIgBBkQAZkgAgQASHIgBBkQAhCIAMZUEftVE2N1+za/XB/dmsf3dN97/S0aLhaDePzdwQ9YARcgL3u1KGgU4BOgWFk+QP7F4IxMAG8vqpKBK4wgLryT5VN0I9A9Ti3nghc3RYIIMG+Wy5i8t0TwRnopk0CaiNIgWpX8P8EV6DdZA+col3U6Np78G4a18Cqwqhmb7QwvjPAezPHeIjtrBwVgrn5TMd0F2+A+QdlWQqCPUdgCZwiwKDM5w6IixmUTVMbf0hAzXkBJU+VqVL7JM8+D/xpUfwYR4m89sXJe1tlzwOTVSu8apsqvmf2t49+eV9WQWmuOxCWLBlsYTbNAAAAAElFTkSuQmCC"/>
                    Puedes agregar tu logo del equipo a traves de un url</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="CrearUnNuevoTeams()">Aguardar equipo</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="AgregarUnMarcadorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar un marcador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero de jornada</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="jornada" #jornada="ngModel" [(ngModel)]="MarcadorModel.jornada">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Nombre del primer equipo</label>
            <input type="text" class="form-control" id="exampleInputPassword1"  name="nameEquipo1" #nameEquipo1="ngModel" [(ngModel)]="MarcadorModel.nameEquipo1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Goles</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="goles1" #goles1="ngModel" [(ngModel)]="MarcadorModel.goles1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nombre del segundo equipo</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nameEquipo2" #nameEquipo2="ngModel" [(ngModel)]="MarcadorModel.nameEquipo2">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Goles</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="goles2" #goles2="ngModel" [(ngModel)]="MarcadorModel.goles2">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="CrearUnaJornada()">Guardar marcador</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditarLiga" tabindex="-1" aria-labelledby="EditarLiga" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar liga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Código del primer</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name" #name="ngModel" [(ngModel)]="LigasModel.name">
            <div id="emailHelp" class="form-text">No podras crear un liga que ya exista.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="descricpcion" #descricpcion="ngModel" [(ngModel)]="LigasModel.descricpcion">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="image" #image="ngModel" [(ngModel)]="LigasModel.image">
            <div id="emailHelp" class="form-text">Puedes subir una imagen a traves de su url.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="UpdateLigas()">Actualizar datos</button>
      </div>
    </div>
  </div>
</div>
